In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_csv('Datasets/heart.csv')
df1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
df1.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [10]:
df1 = df1.loc[(df1['Cholesterol'] != 0),:]

In [12]:
df1.shape

(746, 12)

In [13]:
df1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [14]:
X = df1.drop('HeartDisease', axis =1)

In [15]:
X.shape

(746, 11)

In [16]:
y = df1['HeartDisease']

In [17]:
y.shape

(746,)

In [18]:
X_train,X_holdout,y_train,y_holdout = train_test_split(X,y,test_size=0.1,random_state=42)

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [20]:
X_train

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
70,57,M,ATA,140,265,0,ST,145,Y,1.0,Flat
164,52,F,ATA,140,225,0,Normal,140,N,0.0,Up
882,56,F,ATA,140,294,0,LVH,153,N,1.3,Flat
265,54,M,ATA,160,305,0,Normal,175,N,0.0,Up
250,44,M,ASY,135,491,0,Normal,135,N,0.0,Flat
...,...,...,...,...,...,...,...,...,...,...,...
71,44,M,ATA,130,215,0,Normal,135,N,0.0,Up
106,48,F,ASY,120,254,0,ST,110,N,0.0,Up
270,45,M,ASY,120,225,0,Normal,140,N,0.0,Up
607,53,M,ASY,144,300,1,ST,128,Y,1.5,Flat
102,40,F,ASY,150,392,0,Normal,130,N,2.0,Flat

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
categorical_transformer = Pipeline(steps=[('onehot'), OneHotEncoder(drop='first')])

In [22]:
preprocessor = ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',handle_unknown='ignore'),[1,2,6,8,9])])

In [25]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

model = Pipeline(steps= [('preprocessor', preprocessor),
                        ('scaling', StandardScaler(with_mean=False)),
                        ('classifier', LogisticRegression())])

In [26]:
model.fit(X_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('ohe',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore'),
                                                  [1, 2, 6, 8, 9])])),
                ('scaling', StandardScaler(with_mean=False)),
                ('classifier', LogisticRegression())])

In [29]:
from sklearn.model_selection import cross_val_score

print("f1 Score:", cross_val_score(model,X_train, y_train, cv=5, scoring='f1').mean())

f1 Score: 0.7740761333247952

C:\Users\saadr\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:170: UserWarning: Found unknown categories in columns [4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
C:\Users\saadr\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:170: UserWarning: Found unknown categories in columns [4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
C:\Users\saadr\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:170: UserWarning: Found unknown categories in columns [4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
C:\Users\saadr\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:170: UserWarning: Found unknown categories in columns [4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [30]:
y_pred = model.predict(X_holdout)

In [32]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


accuracy = accuracy_score(y_holdout, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8133333333333334